body{
  margin: 0;
}

.edit{
  height: 80px;
  position: absolute;
  margin-top: -85px;
  margin-left: 50%;
}

.nonedit{
  display: none;
  width: 500px;
  position: absolute;
  margin-top: -190px;
  margin-left: 50%;
}

#title{
  font-size: 1em;
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
  background-color: blue;
  padding: 10px;
  /*animation: headline 10s infinite;*/
}

#filter{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.2em;
  font-size: 1.3em;
  font-family: interstate, sans-serif;
  font-style: normal;
  color: blue;
  font-weight: 300;
  padding: 10px;
}

#filterYears{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#filterElem{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.years{
  padding: 5px;
}

.years:hover{
  text-decoration: line-through;
  cursor: pointer;
}

#elemContainer{
  margin-left: 8px;
  margin-right: 8px;
}

.box{
  border-top-style: solid;
  border-top-color: blue;
  border-top-width: 4px;
}


.headlines{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2.5em;
  font-family: interstate, sans-serif;
  font-style: italic;
  font-weight: 700;
  color:blue;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.headlines:hover {
  font-style: normal;
  animation: slide-left 20s;
  cursor: pointer;
}

.boxYear{
  position: absolute;
  margin-left: 0px;
  margin-top: -90px;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5em;
  font-family: interstate, sans-serif;
  font-style: italic;
  font-weight: 700;
  color: white;

  background-color: blue;
  width: 150px;
  height: 90px;
}

@keyframes headline {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: -50%;
  }
}

@keyframes slide-left {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -200%;
  }
}





