    body{
      background-color: #eeeeee;
      margin: 0px;
    }

    .container{
      width: 900px;
      margin-left: auto;
      margin-right: auto;
      overflow: auto;
      background-color: yellow;
    }

    .centered {
      position: fixed; 
      top: 30%;
      left: 40%;
      width: 300px;
      z-index: 300;
      box-shadow: 10px 10px 10px #a5a5a5;
    }


    .year{
      position: absolute;
      background-color: black;
      color: white;
      font-family: acumin-pro, sans-serif;
      font-size: 1em;
      z-index: 100;
      padding-top: 1px;
      padding-bottom: 2px;
      padding-right: 7px;
      padding-left: 7px;
    }

    /*1931*/
    #thirtyone{
      position: absolute;
      left: 100px;
      top: 50px;
    }
    #thirty-one-year{
      transform: rotate(20deg);
      left: 80px;
      top: 20px;
    }

    #thirty-one-year:hover{
      border-style: solid;
      border-width: 2px;
      border-color: white;
    }

    /*2001*/
    #one{
      position: absolute;
      transform: rotate(15deg);
      left: 280px;
      top: 90px;
    }

    #one-year{
      top: 200px;
      left: 135px;
      transform: rotate(-10deg);
    }

    #one-year:hover{
      border-style: solid;
      border-width: 2px;
      border-color: white;
    }
